
@{
    Layout = null;
}

<!DOCTYPE html>


<head>

    <title>Login</title>
    <link href="~/Estilos/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Estilos/css/login.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/Estilos/Imagenes/favicon.ico" />
    <!--<link href="~/Estilos/EstiloLogin.css" rel="stylesheet" />-->


    <link rel="icon" type="image/png" href="~/Imagenes/icons/favicon.ico" />

    <!--===============================================================================================-->
    <!--<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">-->
    <!--===============================================================================================-->
    <!--<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">-->
    <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <!--<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">-->
    <link href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <!--<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">-->
    <link href="~/Vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <!--<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">-->
    <link href="~/Vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <!--<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">-->
    <link href="~/Vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <!--<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">-->
    <link href="~/Vendor/select2/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <!--<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">-->
    <link href="~/Vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <!--<link rel="stylesheet" type="text/css" href="css/util.css">-->
    <!--<link rel="stylesheet" type="text/css" href="css/main.css">-->
    <link href="~/Estilos/EstilosLogin/main.css" rel="stylesheet" />
    <link href="~/Estilos/EstilosLogin/util.css" rel="stylesheet" />


</head>
<body>
    <div class="container">
        <div class="card card-container">


            <body>

                <div class="limiter">
                    <div class="container-login100" style="background-image: url(' /Imagenes/bg-01.jpg');">
                        <div class="wrap-login100 p-t-30 p-b-50">
                            <span class="login100-form-title p-b-41">
                                Iniciar Sesión
                                
                            </span>
                            <form class="login100-form validate-form p-b-33 p-t-5">

                                <div class="wrap-input100 validate-input" data-validate="Introduce un usuario">
                                    <input class="input100" type="text" name="username" placeholder="Usuario">
                                    <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                                </div>

                                <div class="wrap-input100 validate-input" data-validate="Introduce un número de usuario">
                                    <input class="input100" type="text" name="username" placeholder="Número de usuario">
                                    <span class="focus-input100" data-placeholder="&#xe837;" ></span>
                                </div>

                                <div class="wrap-input100 validate-input" data-validate="Introduce una contraseña correcta">
                                    <input class="input100" type="password" name="pass" placeholder="Contraseña">
                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                </div>

                                <div class="container-login100-form-btn m-t-32">
                                    <button class="login100-form-btn">
                                        Login
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>


                <div id="dropDownSelect1"></div>

            </body>
        </div>
    </div>

    <!--===============================================================================================-->
    <!--<script src="vendor/jquery/jquery-3.2.1.min.js"></script>-->
    <script src="~/Vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <!--<script src="vendor/animsition/js/animsition.min.js"></script>-->
    <script src="~/Vendor/animsition/js/animsition.js"></script>
    <!--===============================================================================================-->
    <!--<script src="vendor/bootstrap/js/popper.js"></script>-->
    <script src="~/Vendor/bootstrap/js/popper.js"></script>
    <!--<script src="vendor/bootstrap/js/bootstrap.min.js"></script>-->
    <!--===============================================================================================-->
    <!--<script src="vendor/select2/select2.min.js"></script>-->
    <script src="~/Vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <!--<script src="vendor/daterangepicker/moment.min.js"></script>-->
    <script src="~/Vendor/daterangepicker/moment.min.js"></script>

    <!--<script src="vendor/daterangepicker/daterangepicker.js"></script>-->
    <script src="~/Vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <!--<script src="vendor/countdowntime/countdowntime.js"></script>-->
    <script src="~/Vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <!--<script src="js/main.js"></script>-->
    <script src="~/JS/main.js"></script>

    <!--<script src="~/Estilos/js/jquery.min.js"></script>-->
    <!---<script src="~/Estilos/js/bootstrap.min.js"></script>-->
</body>

